<footer class="bg-dark text-white pt-5 pb-4">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 mx-auto mt-3">
                    <h3>Download Our App</h3>
                <div class="app-logo">
                    <a href="https://play.google.com/store"><%= image_tag('playstore.png', style: "height:3rem") %></a>
                    <a href="https://www.indiaistore.com/"><%= image_tag('app-store.png', style: "height:3rem") %></a>
                </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h3>Follow Us</h3>
                <ul style="list-style-type: none;" class="d-flex justify-content-center "> 
                    <li><a href="https://www.facebook.com" type="button"><i class="fab fa-facebook p-2 fa-2x"></i></a></li>
                    <li><a href="https://www.instagram.com" type="button"><i class=" fab fa-instagram p-2 fa-2x"></i></a></li>
                    <li><a href="https://www.twitter.com" type="button"><i class=" fab fa-twitter p-2 fa-2x"></i></a></li>
                    <li><a href="https://www.youtube.com" type="button"><i class=" fab fa-youtube p-2 fa-2x"></i></a></li>
                </ul>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row align-items-center justify-content-center" style="text-align: center;">
                <div class="col-md-7 col-lg-8 flex-row d-flex  justify-content-center">
                    <p>copyright 2021 All rights reserved by: &#160;</p>
                    <a href="https://www.linkedin.com/in/arvind-jangir-749a87179/" class="text-success">
                        <b class="text-success" style="text-decoration: none;">Arvind Jangir</b>
                    </a>
                </div> 
            </div>
        </div>
</footer>